.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px;
}

.title {
    font-family: 'Jet Brains Mono';
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    padding-block: 20px;
}

.button_container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.button {
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: var(--common-border-radius);
    transition: var(--common-transition);
    color: var(--text-primary-color);
    background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
    font-family: 'Jet Brains Mono';
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    padding: 16px 40px;
}

.button:hover {
    box-shadow: 0px 0px 16px 8px rgba(51, 51, 255, 0.25), 0px 0px 8px 8px rgba(51, 51, 255, 0.25);
    filter: drop-shadow(0px 4px 32px rgba(51, 51, 255, 0.5));
}